<div id="task-popup" class="popup-overlay">
    <div class="popup-content">
      <h2>Create Task</h2>
      <form (submit)="createTask()" ngNativeValidate>
        <label for="task-title">Title</label>
        <input id="task-title" type="text" [(ngModel)]="newTask.title" name="title" required />
  
        <label for="task-desc">Description</label>
        <textarea id="task-desc" rows="8" [(ngModel)]="newTask.description" name="description" required></textarea>
  
        <div class="popup-buttons">
          <button type="submit" class="btn-create">Create</button>
          <button type="button" class="btn-cancel" (click)="closePopup()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  
